@import url("https://cdn.simplecss.org/simple.min.css");

/* fira-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/fira-sans-v16-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/fira-sans-v16-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/fira-sans-v16-latin-800.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/fira-sans-v16-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav a.active {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.field {
  margin: 0.5em 0;
}
.error {
  color: var(--accent);
}

input.field-error {
  border-color: var(--accent);
}
.field-error i nput {
  border-color: var(--accent);
}
.field--required label:after {
  content: " *";
  color: var(--accent);
}

center legend {
  margin-left: auto;
  margin-right: auto;
}

dialog {
  width: auto;
}

button.play {
  background-color: var(--accent-bg);
  width: 2em;
  height: 2em;
  line-height: 2em;
  margin: 0;
  text-align: center;
  padding: 0;
  color: var(--text);
}

.img-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.img-wrapper button.play {
  opacity: 0.5;
  position: absolute;
  bottom: 1em;
  right: 0.8em;
}
.img-wrapper:hover button.play {
  opacity: 0.8;
}
.img-wrapper img {
  background-color: var(--accent-bg);
  border: 2px solid var(--bg);
  width: 100%;
}
.img-wrapper a:hover > img {
  border-color: var(--accent);
}
