body {
  grid-template-columns: 1fr min(60em, 90%) 1fr;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.results figcaption {
  margin: 0;
}

@media (min-width: 40em) {
  .results {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

figure {
  text-align: center;
}

figure img {
  width: 100%;
}

.notice {
  text-align: center;
}
.notice h3 {
  margin: 0;
}

.loader {
  position: fixed;
  font-size: 0.8em;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 1em;
  background-color: var(--accent-bg);
  border-radius: var(--standard-border-radius);
  box-shadow: 0 0 0 1px var(--accent);
}
.loader:before {
  background-image: url(/images/loading.gif);
  background-size: contain;
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;
}
.loader:after {
  content: "Loading...";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}
